Source: smartvirdebug
Section: devel
Priority: optional
Maintainer: haibiao xiao <haibiao.xiao@formal-tech.com>
Build-Depends: debhelper (>=9),autotools-dev,git,libglib2.0-dev,libfdt-dev,libpixman-1-dev,zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://www.formal-tech.com/
#Vcs-Git: git://anonscm.debian.org/collab-maint/smartvirdebug.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/smartvirdebug.git

Package: smartvirdebug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A virtual debug tool for embedded system
